.images {
    display: grid;
    background-color: white;

    grid-template-columns: 2fr 2fr 1fr 1fr 1fr 1fr 1fr 1fr  ;
    grid-template-rows: 1fr 1fr;

    grid-template-areas:
        " wheel present-threads photographer cake"
        " wheel candles photographer cake"
    ;
}