.about {
    grid-area: about;
    background-color:rgb(255, 255, 255);
    text-align: center;
    padding-top: 5%;
}

.about a {
    padding: 20px;
    text-decoration: none;
    font-size: 20px;
    color: rgb(0, 0, 0);
}

.about a:hover {
    color: rgb(0, 149, 255);
}

.about img {
    width: 20px;
    padding-right: 5px;
}