.lower_text {
    grid-area: lower_text;
    width: 500px;
}

.header_text {
    font-family: Noto Sans;
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
}

.button {
    padding-top: 25px;
}

.button a {
    text-decoration: none;
    padding: 10px 20px 10px 20px;
    background-color: rgb(255, 196, 0);
    border: 1px rgb(255, 196, 0) solid;
    border-radius: 5px;
    color: black;
    font-size: 16px;
    font-weight: 600;
}

.button a:hover {
    cursor: pointer;
    background-color:rgb(58, 255, 239);
    border-color: rgb(58, 255, 239);
}